.TabBarWrapper {
  width: 100%;
  height: 100%;
}

.TabBarWrapper :global(.am-tab-bar-bar .am-tab-bar-tab-title) {
  margin-top: 10px;
}

.icon {
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-index {
  composes: icon;
  background-image: url(images/index.png);
}

.icon-index-active {
  composes: icon;
  background-image: url(images/index-active.png);
}

.icon-boil {
  composes: icon;
  background-image: url(images/boil.png);
}

.icon-boil-active {
  composes: icon;
  background-image: url(images/boil-active.png);
}

.icon-search {
  composes: icon;
  background-image: url(images/search.png);
}

.icon-search-active {
  composes: icon;
  background-image: url(images/search-active.png);
}

.icon-me {
  composes: icon;
  background-image: url(images/me.png);
}

.icon-me-active {
  composes: icon;
  background-image: url(images/me-active.png);
}
